---
http_interactions:
- request:
    method: get
    uri: http://www.bbc.com/arabic/media-49474522
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-News-Data-Centre:
      - lbh
      X-Pal-Host:
      - pal816.back.live.lbh.local:80
      X-News-Cache-Id:
      - '58655'
      X-Lb-Nocache:
      - 'true'
      X-Fastly-Cache-Status:
      - MISS-CLUSTER
    body:
      encoding: UTF-8
      string: "\n\n<!DOCTYPE html>\n<html lang=\"ar\" id=\"responsive-news\">\n<head
        dir=\"rtl\" prefix=\"og: http://ogp.me/ns#\">\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1, user-scalable=1\">\n    <meta
        charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n
        \   <title>صالة ديسكو لكبار السن فقط - BBC News Arabic</title>\n    <link
        rel=\"preload\" as=\"style\" href=\"http://static.bbci.co.uk/news/1.288.03366/stylesheets/services/arabic/compact.css\"
        media=\"(max-width: 599px)\">\n    <link rel=\"preload\" as=\"style\" href=\"http://static.bbci.co.uk/news/1.288.03366/stylesheets/services/arabic/tablet.css\"
        media=\"(min-width: 600px) and (max-width: 1007px)\">\n    <link rel=\"preload\"
        as=\"style\" href=\"http://static.bbci.co.uk/news/1.288.03366/stylesheets/services/arabic/wide.css\"
        media=\"(min-width: 1008px)\">\n\n            <script> window.orb_fig_blocking
        = true; </script>\n    \n            <link rel=\"preload\" as=\"script\" href=\"//fig.bbc.co.uk/frameworks/fig/2/fig.js?callback=orb.orb_fig\">\n
        \   \n    <link href=\"//static.bbci.co.uk\" rel=\"preconnect\" crossorigin>\n
        \   <link href=\"//static.bbc.co.uk\" rel=\"preconnect\" crossorigin>\n    <link
        href=\"//nav.files.bbci.co.uk\" rel=\"preconnect\" crossorigin>\n    <link
        href=\"//ichef.bbci.co.uk\" rel=\"preconnect\" crossor[...]
