---
http_interactions:
- request:
    method: get
    uri: http://www.bbc.co.uk/arabic/middleeast-49492076
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
      Location:
      - http://www.bbc.com/arabic/middleeast-49492076
      X-Pal-Host:
      - pal143.back.live.telhc.local:80
    body:
      encoding: ISO-8859-1
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="http://www.bbc.com/arabic/middleeast-49492076">here</a>.</p>
        </body></html>
  recorded_at: Wed, 28 Aug 2019 10:41:05 GMT
- request:
    method: get
    uri: http://www.bbc.com/arabic/middleeast-49492076
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-News-Data-Centre:
      - telhc
      X-Pal-Host:
      - pal103.back.live.telhc.local:80
      X-News-Cache-Id:
      - '2024'
      X-Lb-Nocache:
      - 'true'
      X-Fastly-Cache-Status:
      - HIT-STALE-CLUSTER
    body:
      encoding: UTF-8
      string: "\n\n<!DOCTYPE html>\n<html lang=\"ar\" id=\"responsive-news\">\n<head
        dir=\"rtl\" prefix=\"og: http://ogp.me/ns#\">\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1, user-scalable=1\">\n    <meta
        charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n
        \   <title>حماس تطلق حملة أمنية واسعة في غزة بعد مقتل ثلاثة من عناصرها في
        تفجيرات \"انتحارية\" - BBC News Arabic</title>\n    <meta name=\"description\"
        content=\"حركة حماس تطلق عملية أمنية واسعة في قطاع غزة بعد مقتل ثلاثة من عناصرها
        في انفجارات استهدفت حواجز أمنية، ليل الثلاثاء.\">\n    <link rel=\"preload\"
        as=\"style\" href=\"http://static.bbci.co.uk/news/1.287.03360/stylesheets/services/arabic/compact.css\"
        media=\"(max-width: 599px)\">\n    <link rel=\"preload\" as=\"style\" href=\"http://static.bbci.co.uk/news/1.287.03360/stylesheets/services/arabic/tablet.css\"
        media=\"(min-width: 600px) and (max-width: 1007px)\">\n    <link rel=\"preload\"
        as=\"style\" href=\"http://static.bbci.co.uk/news/1.287.03360/stylesheets/services/arabic/wide.css\"
        media=\"(min-width: 1008px)\">\n\n            <script> window.orb_fig_blocking
        = true; </script>\n    \n            <link rel=\"preload\" as=\"script\" href=\"//fig.bbc.co.uk/frameworks/fig/2/fig.js?callback=orb.orb_fig\">\n
        \   \n    <link href=\"//static.bbci.co.uk\" rel=\"preconnect\" crossorigin>\n
        \   <link href=\"//static.bbc.co.uk\" rel=\"preconnect\" crossorigin>\n    <link
        href=\"//nav.files.bbci.co.uk\" rel=\"preconnect\" crossorigin>\n    <link
        href=\"//ichef.bbci.co.uk\" rel=\"preconnect\" crossor[...]
