---
http_interactions:
- request:
    method: get
    uri: https://www.7iber.com/feed/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rss+xml; charset=UTF-8
      Last-Modified:
      - Tue, 27 Aug 2019 12:12:58 GMT
      Etag:
      - W/"7ab157accd468e15731d392686d4c221-gzip"
      Link:
      - <https://www.7iber.com/wp-json/>; rel="https://api.w.org/"
      X-Tec-Api-Version:
      - v1
      X-Tec-Api-Root:
      - https://www.7iber.com/wp-json/tribe/events/v1/
      X-Tec-Api-Origin:
      - https://www.7iber.com
    body:
      encoding: UTF-8
      string: "\n<?xml version=\"1.0\" encoding=\"UTF-8\"?><rss version=\"2.0\"\n\txmlns:content=\"http://purl.org/rss/1.0/modules/content/\"\n\txmlns:wfw=\"http://wellformedweb.org/CommentAPI/\"\n\txmlns:dc=\"http://purl.org/dc/elements/1.1/\"\n\txmlns:atom=\"http://www.w3.org/2005/Atom\"\n\txmlns:sy=\"http://purl.org/rss/1.0/modules/syndication/\"\n\txmlns:slash=\"http://purl.org/rss/1.0/modules/slash/\"\n\t>\n\n<channel>\n\t<title>7iber
        | حبر</title>\n\t<atom:link href=\"https://www.7iber.com/feed/\" rel=\"self\"
        type=\"application/rss+xml\" />\n\t<link>https://www.7iber.com</link>\n\t<description>7iber
        is an online magazine that brings in-depth stories from Jordan and the Arab
        World &#124; حبر مجلة إلكترونية تقدم قصصًا وتقارير معمقة من الأردن والعالم
        العربي</description>\n\t<lastBuildDate>Tue, 27 Aug 2019 12:12:58 +0000</lastBuildDate>\n\t<language>en-US</language>\n\t<sy:updatePeriod>hourly</sy:updatePeriod>\n\t<sy:updateFrequency>1</sy:updateFrequency>\n\t<generator>https://wordpress.org/?v=4.9.10</generator>\n\t<item>\n\t\t<title>لماذا
        لم تعد الزراعة في الأردن قطاعًا إنتاجيًا؟</title>\n\t\t<link>https://www.7iber.com/politics-economics/%d9%84%d9%85%d8%a7%d8%b0%d8%a7-%d9%84%d9%85-%d8%aa%d8%b9%d8%af-%d8%a7%d9%84%d8%b2%d8%b1%d8%a7%d8%b9%d8%a9-%d9%82%d8%b7%d8%a7%d8%b9%d9%8b%d8%a7-%d8%a5%d9%86%d8%aa%d8%a7%d8%ac%d9%8a%d9%8b%d8%a7/</link>\n\t\t<comments>https://www.7iber.com/politics-economics/%d9%84%d9%85%d8%a7%d8%b0%d8%a7-%d9%84%d9%85-%d8%aa%d8%b9%d8%af-%d8%a7%d9%84%d8%b2%d8%b1%d8%a7%d8%b9%d8%a9-%d9%82%d8%b7%d8%a7%d8%b9%d9%8b%d8%a7-%d8%a5%d9%86%d8%aa%d8%a7%d8%ac%d9%8a%d9%8b%d8%a7/#respond</comments>\n\t\t<pubDate>Tue,
        27 Aug 2019 11:51:59 +0000</pubDate>\n\t\t<dc:creator><![CDATA[ليلى العاجيب]]></dc:creator>\n\t\t\t\t<category><![CDATA[Featured]]></category>\n\t\t<category><![CDATA[Media
        Stories]]></category>\n\t\t<category><![CDATA[سياسة واقتصاد]]></category>\n\t\t<category><![CDATA[domestic
        workers]]></category>\n\t\t<category><![CDATA[farming]]></category>\n\t\t<category><![CDATA[IMF]]></category>\n\t\t<category><![CDATA[ملف
        صندوق النقد]]></category>\n\n\t\t<guid isPermaLink=\"false\">https://www.7iber.com/?post_type=politics-economics&#038;p=70204</guid>\n\t\t<description><![CDATA[كيف
        أسهمت برامج صندوق النقد الدولي عبر ما فيها من خصخصة وتقليص للدعم في تراجع
        قطاع الزراعة وتحوّله من قطاع منتج يعتمد عليه آلاف الأردنيين إلى قطاع تقوم
        عليه الشركات الخاصة والعمالة المهاجرة.]]></description>\n\t\t\t\t<content:encoded><![CDATA[<p
        class=\"c9\" dir=\"rtl\"><em><span class=\"c16\">هذا المقال نتج عن مشاركة
        الكاتبة في </span><span class=\"c10\"><a class=\"c4\" href=\"https://www.google.com/url?q=https://www.7iber.com/jobs/writing-workshop/&amp;sa=D&amp;ust=1566905901300000\">ورشة
        حبر الأولى لكتابة المقال</a></span><span class=\"c16\"> التي عقدت في نيسان
        وأيار 2019. و</span></em><em>هو المقال الخامس ضمن سلسلة مقالات <a href=\"https://www.7iber.com/politics-economics/%d9%85%d9%84%d9%81-%d8%a7%d9%84%d8%a3%d8%b1%d8%af%d9%86-%d9%88%d8%b5%d9%[...]
