---
http_interactions:
- request:
    method: get
    uri: https://kottke.org/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\"\n
        \   \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<!--[if
        lt IE 7 ]> <html class=\"ie6\" xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:og=\"http://ogp.me/ns#\"
        xmlns:fb=\"http://www.facebook.com/2008/fbml\" lang=\"en\"> <![endif]-->\n<!--[if
        IE 7 ]> <html class=\"ie7\" xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:og=\"http://ogp.me/ns#\"
        xmlns:fb=\"http://www.facebook.com/2008/fbml\" lang=\"en\"> <![endif]-->\n<!--[if
        IE 8 ]> <html class=\"ie8\" xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:og=\"http://ogp.me/ns#\"
        xmlns:fb=\"http://www.facebook.com/2008/fbml\" lang=\"en\"> <![endif]-->\n<!--[if
        IE 9 ]> <html class=\"ie9\" xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:og=\"http://ogp.me/ns#\"
        xmlns:fb=\"http://www.facebook.com/2008/fbml\" lang=\"en\"> <![endif]-->\n<!--[if
        (gte IE 10)|!(IE)]><!--> <html xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:og=\"http://ogp.me/ns#\"
        xmlns:fb=\"http://www.facebook.com/2008/fbml\" lang=\"en\"> <!--<![endif]-->\n\n\n<head>\n<meta
        http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\n<meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0\">\n<meta property=\"og:title\"
        content=\"kottke.org\" />\n<meta property=\"og:type\" content=\"website\"
        />\n<meta property=\"og:url\" content=\"https://kottke.org\" />\n<meta property=\"og:image\"
        content=\"https://kottke.org/images/2016/ios/180x180.png\" />\n<meta property=\"og:site_name\"
        content=\"kottke.org\" />\n<meta property=\"og:description\" content=\"home
        of fine hypertext products\" />\n<meta property=\"fb:admins\" content=\"549560637\"
        />\n<meta property=\"fb:app_id\" content=\"279322152122365\" /><title>kottke.org
        - home of fine hypertext products</title>\n\n<link href=\"/images/2016/ios/32x32.png\"
        rel=\"icon\" type=\"image/png\" sizes=\"32x32\" />\n<link href=\"/images/2016/ios/180x180.png\"
        rel=\"apple-touch-icon\" sizes=\"180x180\" />\n<link href=\"/images/2016/ios/167x167.png\"
        rel=\"apple-touch-icon\" sizes=\"167x167\" />\n<link href=\"/images/2016/ios/152x152.png\"
        rel=\"apple-touch-icon\" sizes=\"152x152\" />\n<link href=\"/images/2016/ios/120x120.png\"
        rel=\"apple-touch-icon\" sizes=\"120x120\" />\n<link href=\"/images/2016/ios/80x80.png\"
        rel=\"apple-touch-icon\" sizes=\"80x80\" />\n<link href=\"/images/2016/ios/76x76.png\"
        rel=\"apple-touch-icon\" sizes=\"76x76\" />\n<link href=\"/images/2016/ios/40x40.png\"
        rel=\"apple-touch-icon\" sizes=\"40x40\" />\n<link href=\"/images/2016/ios/192x192.png\"
        rel=\"icon\" sizes=\"192x192\" />\n<link href=\"/images/2016/ios/128x128.png\"
        rel=\"icon\" sizes=\"128x128\" />\n\n<script src=\"/templates/2016/js/jquery-1.11.3.min.js\"></script>\n<script
        src=\"/templates/2016/js/jquery-migrate-1.2.1.min.js\"></script>\n<script
        src=\"/templates/2016/js/bigfoot.js\"></script>\n\n<script src=\"/templates/2016/js/updater.js\"
        type=\"text/javascript\"></script>\n<script type=\"text/javascript\">intvId
        = setInterval (\"getUpdates('/frontpage/updates/index.php?id=35209','updates')\",600000);</script>\n\n<script
        src=\"/templates/2016/js/jquery.unve[...]
