---
http_interactions:
- request:
    method: get
    uri: https://daringfireball.net/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang=\"en\"  class=\"daringfireball-net\">\n<head>\n\t<meta
        charset=\"UTF-8\" />\n\t<title>Daring Fireball</title>\n\t<meta name=\"viewport\"
        content=\"width=500, minimum-scale=0.45\" />\n\t<link rel=\"apple-touch-icon-precomposed\"
        href=\"/graphics/apple-touch-icon.png\" />\n\t<link rel=\"shortcut icon\"
        href=\"/graphics/favicon.ico?v=005\" />\n\t<link rel=\"mask-icon\" href=\"/graphics/dfstar.svg\"
        color=\"#4a525a\">\n\t<link rel=\"stylesheet\" type=\"text/css\" media=\"screen\"
        \ href=\"/css/fireball_screen.css?v1.91\" />\n\t<link rel=\"stylesheet\" type=\"text/css\"
        media=\"screen\"  href=\"/css/ie_sucks.php\" />\n\t<link rel=\"stylesheet\"
        type=\"text/css\" media=\"print\"   href=\"/css/fireball_print.css?v01\" />\n\t<link
        rel=\"alternate\"  type=\"application/atom+xml\"     href=\"/feeds/main\"
        />\n\t<link rel=\"alternate\"  type=\"application/json\"         href=\"/feeds/json\"
        />\n\t<link href=\"https://micro.blog/gruber\" rel=\"me\" />\n\t<script src=\"/js/js-global/FancyZoom.js\"
        type=\"text/javascript\"></script>\n\t<script src=\"/js/js-global/FancyZoomHTML.js\"
        type=\"text/javascript\"></script>\n</head>\n<body  class=\"daringfireball-net\"
        \ onload=\"setupZoom()\">\n<div id=\"Box\">\n\n<div id=\"Banner\">\r<a href=\"/\"
        title=\"Daring Fireball: Home\"><img src=\"/graphics/logos/\" alt=\"Daring
        Fireball\" height=\"56\" /></a>\r</div>\r\r<div id=\"Sidebar\">\n<p>By <strong>John&nbsp;Gruber</strong></p>\n\n<ul><!--&#9733;-->\n<li><a
        href=\"/archive/\" title=\"Previous articles.\">Archive</a></li><li><script
        type=\"text/javascript\">\n// <![CDATA[\nfunction ReadCookie(name) {\n\tvar
        nameEQ = name + \"=\";\n\tvar ca = document.cookie.split(';');\n\tfor(var
        i=0; i < ca.length; i++) {\n\t\tvar c = ca[i];\n\t\twhile (c.charAt(0)=='
        ') c = c.substring(1, c.length);\n\t\tif (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,
        c.length);\n\t}\n\treturn null;\n}\nvar display_l[...]
